<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">./logs</Property>
    </Properties>

    <Appenders>
<!--        <File name="fileLogger" fileName="${basePath}/app-info-${date:dd-MM-yyyy HHmmss}.html">-->
<!--            <HTMLLayout charset="UTF-8" title="Automation Logs" locationInfo="true"/>-->
<!--        </File>-->
        <File name="File" fileName="${basePath}/app-info-${date:dd-MM-yyyy HHmmss}.log">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.sachin" level="debug" additivity="false">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="debug" additivity="true">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>